
ion-slides {
  height: auto; /* Ajusta la altura del carrusel */
  width: 100%; /* Asegura que tome todo el ancho disponible */
  display: block;
}

ion-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-slide img {
  width: 100%; /* Las imágenes llenarán el ancho del slide */
  height: auto; /* Mantendrá la proporción */
  object-fit: cover; /* Evita deformaciones */
}
.slide-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-container img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
